/* Purlins Desc Starts */
.purlins-desc{
    padding: 4rem 0 2rem 0;
    overflow: hidden;
}
.purlins-desc h2{
    font-size: 2.3rem;
    color: #000;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 2rem;
}
.purlins-desc p{
    font-size: 1rem;
    color: #5a5a5a;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    .purlins-desc{
        padding: 2rem 1rem 2rem 1rem;
    }
    .purlins-desc h2{
        font-size: 1.5rem;
        margin-bottom: 1.2rem;
    }
    .purlins-desc p{
        font-size: 0.9rem;
        margin-top: 0.5rem;
    }
}
/* Purlins Desc Ends */


/* Purlins Highlight Starts */
.purlins-highlight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e5dc;
    color: #000;
    padding: 2rem 0;
}
.purlins-highlight .highlight-box{
    width: 24%;
}
.purlins-highlight .highlight-box span{
    font-weight: 800;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    display: block;
    font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
    
}
/* Purlins Highlight Ends */


/* Purlins Features Start */
.purlins-features{
    padding: 4rem 0 3rem 0;
}
.purlins-features h3{
    font-size: 2.3rem;
    color: #000;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}
.purlins-features-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.purlins-features-row .feature-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 23%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 1.5rem 0.5rem;
    margin-bottom: 1.7rem;
    overflow: hidden;
    transition: all 0.2s ease;
}
.purlins-features-row .feature-box:hover{
    transform: translateY(-12px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.purlins-features-row .feature-box img{
    width: 70px;
    margin-top: 1rem;
}
.purlins-features-row .feature-box span{
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 1.5rem;
    display: block;
}
/* Purlins Features End */


/* Purlins Applications Start */
.purlins-apps h4{
    font-size: 2.3rem;
    color: #000;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}
.purlins-apps .apps-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.purlins-apps .apps-content{
    width: 67%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    gap: 4%;
}
.purlins-apps .apps-content .box{
    width: 30%;
    margin-bottom: 0.3rem;
}
.purlins-apps .apps-content .box span{
    font-size: 1.3rem;
    color: #000;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}
.purlins-apps .apps-content .box ul{
    list-style: none;
    padding-left: 0;
    margin-top: 1rem;
}
.purlins-apps .apps-content .box li{
    position: relative;
    padding-left: 35px;
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-bottom: 0.7rem;
}
.purlins-apps .apps-content .box li::before {
    content: "\f00c"; /* Font Awesome check icon */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #0166fe;
    color: #fff;
    padding: 3px 7px;
    border-radius: 3px;
    font-size: 0.8rem;
}
.purlins-apps .apps-image{
    width: 32%;
}
.purlins-apps .apps-image img{
    width: 100%;
}
/* Purlins Applications End */


/* Technical Specifications Section Start Here */
.technical{
    padding: 4rem 0 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.technical h5{
     font-size: 2.3rem;
    color: #000;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}
.technical-right{
    width: 31%;
}
.technical-left{
    width: 63%;
}
.technical-desc{
    margin-top: 2rem;
}
.technical-desc h5{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.technical-desc span i{
    background-color: #0166fe;
    color: #fff;
    padding: 5px 7px;
    border-radius: 3px;
    margin-right: 8px;
    font-size: 1rem;
}
.technical-desc span{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}
.technical-right{
    display: flex;
    justify-content: left;
    align-items: center;
}
.technical-right img{
    width: 100%;
}

.technical-desc table{
    border: 1px solid #cccccc;
}

@media screen and (max-width: 576px) {
    .technical{
        padding: 2rem 0.5rem 3rem 0.5rem;
        flex-direction: column-reverse;
    }
    .technical-desc h5{
        flex-direction: column;
    }
    .technical-desc span i{
        padding: 3px 4px;
        margin-right: 3px;
        font-size: 0.9rem;
    }
    .technical-desc span{
        font-size: 1rem;
    }
    .technical-desc #ans{
        margin-left: 2rem;
    }
}
/* Technical Specifications Section End Here */


/* Purlin Details Start */
.purlin-details{
    padding: 2rem 0;
}
.purlin-details-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
#purlin-details-row-2{
    flex-direction: row-reverse;
    margin-bottom: 0;
}
.purlin-details-row .details-image{
    width: 42%;
    position: relative;
}
.purlin-details-row .details-image img{
    width: 100%;
}
.purlin-details-row .details-image .blue-layer{
    width: 40%;
    aspect-ratio: 1/1;
    background-color: #0166feca;
    position: absolute;
    bottom: -2rem;
    right: -2rem;
}
#purlin-details-row-2 .blue-layer{
    left: -2rem;
}
.purlin-details-row .details-content{
    width: 50%;
}
.purlin-details-row h6{
    font-size: 2.3rem;
    font-weight: 700;
    color: #000;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 2rem;
    color: #0166fe;
}
.purlin-details-row p{
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
/* Purlin Details End */


/* Full Features Start */
.full-features {
    padding: 5rem 0 4rem;
}
.features-wrapper {
    display: flex;
    align-items: center;
    gap: 80px;
}
.features-content h6 {
    color: #0d6efd;
    font-size: 2.3rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}
.features-box {
    flex: 1;
}
.table-header,
.table-row {
    display: grid;
    grid-template-columns: 180px 1fr 1fr;
}
.table-header {
    border-bottom: 1px solid #bdbdbd;
}
.table-header div {
    padding: 20px;
    color: #0d6efd;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}
.table-row {
    border-bottom: 1px solid #9b9b9b;
}
.table-row div {
    padding: 22px 20px;
    font-size: 1.2rem;
    color: #181818;
    font-family: "Montserrat", sans-serif;
}
.feature-title {
    font-weight: 600;
}
.table-header div:nth-child(3),
.table-row div:nth-child(3) {
    border-left: 1px solid #bdbdbd;
}
/* Full Features End */


/* Purlin Tables Start */
.purlin-tables{
    margin-top: 2rem;
    background-color: #f0f0e7;
    padding: 2.5rem 0;
}
.purlin-table-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.purlin-table-row .table-image{
    width: 35%;
    position: relative;
}
.purlin-table-row .table-image img{
    width: 100%;
}
.purlin-table-row .table-image .layer{
    width: 100%;
    height: 10%;
    background-color: #004dc2ae;
    position: absolute;
    bottom: 0;
    left: 0;
}
.purlin-table-row .table-content{
    width: 60%;
}
.purlin-table-row .table-content h6{
    font-size: 2.3rem;
    font-weight: 700;
    color: #000;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 2rem;
    color: #0166fe;
    text-align: center;
}
.purlin-table {
    width: 100%;
    border-collapse: collapse;
    /* background: #005dc0; */
    color: #fff;
    text-align: center;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}
.purlin-table th,
.purlin-table td {
    border: 3px solid #ffffff;
    padding: 12px 14px;
    font-size: 1rem;
    font-weight: 400;
}
.purlin-table thead th {
    font-weight: 500;
    background: #0056b3;
}
.purlin-table thead tr:first-child th {
    padding: 14px;
}
.purlin-table thead tr:last-child th {
    white-space: nowrap;
}
.purlin-table tbody tr:hover {
    background: rgba(255,255,255,0.08);
}

/* Odd rows */
.purlin-table tbody tr:nth-child(odd) td {
    background: #0a63c7;
}

/* Even rows */
.purlin-table tbody tr:nth-child(even) td {
    background: #0056b3;
}

.purlin-table-row .table-content p{
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-top: 1.5rem;
}
/* Purlin Tables End */
