/* Profilia Content Head Starts Here */
.content-head{
    padding: 4rem 0 2rem 0;
    overflow: hidden;
}
.content-head h1{
    font-size: 2.3rem;
    color: #000;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}
.content-head p{
    font-size: 1rem;
    color: #5a5a5a;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    margin-top: 1rem;
}

@media screen and (max-width: 576px) {
    .content-head{
        padding: 1.5rem 0.5rem 1rem 0.5rem;
    }
    .content-head h1{
        font-size: 1.3rem;
    }
    .content-head p{
        font-size: 0.9rem;
        margin-top: 0.5rem;
    }
}
/* Profilia Content Head Ends Here */

/* Features Cards Start Here */
.feature-cards-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
    padding: 1rem 0;
}
.feature-cards-row .feature-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 23%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 1.5rem 0.5rem;
    margin-bottom: 1.7rem;
    /* transition: all 0.2s ease; */
    overflow: hidden;
}
.feature-cards-row .feature-card:hover{
    transform: translateY(-12px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.feature-cards-row .feature-card img{
    width: 70px;
}
.feature-cards-row .feature-card h3{
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 0.5rem;
}
.feature-cards-row .feature-card p{
    font-size: 0.9rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    color: #5a5a5a;
}

@media screen and (max-width: 576px) {
    .feature-cards-row{
        padding: 0 0.5rem 1rem 0.5rem; 
        gap: 0;
    }
    .feature-cards-row .feature-card{
        width: 100%;
        margin-bottom: 1rem;
    }
    .feature-cards-row .feature-card img{
        width: 60px;
    }
}
/* Features Cards End Here */

/* Applications Section Starts Here */
.applications{
    padding: 4rem 0 3rem 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.application-left{
    width: 49%;
}
.application-head h1{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}
.application-head p{
    font-size: 1rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #5a5a5a;
}
.application-desc p{
    font-size: 1rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #000;
}
.application-desc p span{
    font-weight: 700;
}
.application-desc p i{
    background-color: #0166fe;
    color: #fff;
    padding: 5px 7px;
    border-radius: 3px;
    margin-right: 8px;
}
.application-right{
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.application-right img{
    width: 100%;
}

@media screen and (max-width: 576px) {
    .applications{
        padding: 1rem 0.5rem;
        flex-direction: column;
    }
    .application-left{
        width: 100%;
    }
    .application-head h1{
        font-size: 1.5rem;
    }
    .application-head p{
        font-size: 0.9rem;
    }
    .application-desc p{
        font-size: 0.9rem;
    }
    .application-desc p i{
        padding: 3px 4px;
        margin-right: 3px;
    }
    .application-right{
        width: 100%;
    }
}
/* Applications Section Ends Here */

/* Technical Specifications Section Start Here */
.technical{
    padding: 4rem 0 3rem 0;
}
.technical-desc h5{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.technical-desc span i{
    background-color: #0166fe;
    color: #fff;
    padding: 5px 7px;
    border-radius: 3px;
    margin-right: 8px;
    font-size: 1rem;
}
.technical-desc span{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}
.technical-right{
    display: flex;
    justify-content: left;
    align-items: center;
}
.technical-right img{
    width: 100%;
}

.technical-desc table{
    border: 1px solid #cccccc;
}

@media screen and (max-width: 576px) {
    .technical{
        padding: 2rem 0.5rem 3rem 0.5rem;
        flex-direction: column-reverse;
    }
    .technical-desc h5{
        flex-direction: column;
    }
    .technical-desc span i{
        padding: 3px 4px;
        margin-right: 3px;
        font-size: 0.9rem;
    }
    .technical-desc span{
        font-size: 1rem;
    }
    .technical-desc #ans{
        margin-left: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .materials{
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .tilos .technical-right img{
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 576px) {
    .clad .technical-right img{
        margin-top: 1.5rem;
    }
}
/* Technical Specifications Section End Here */

footer{
    margin-top: 9rem;
}