*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
     /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    }
    
    /* Header Starts */
    header{
        font-family: 'Montserrat', Arial, sans-serif;
        font-weight: 700;
        padding: 0.7rem 0;
        overflow: hidden;
    }
    .header{
        display: flex;
        justify-content: space-between;
    }
    header i{
        margin-right: 0.1rem;
        font-size: 1.1rem;
    }
    header a{
        text-decoration: none;
        color: #fff;
    }
    
    @media screen and (max-width: 1400px) {
        header{
            font-size: 0.9rem;
        }
    }
    @media screen and (max-width: 576px) {
        header{
            font-size: 0.6rem;
            font-weight: 600;
        }
        header i{
            margin-right: 0.05rem;
            font-size: 0.6rem;
        }
    }
    /* Header Ends */